* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    background-color: #f9f8f7;
    color: #332205;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
}



ul {
    list-style: none;
    text-align: center;
    font-weight: bold;
    display: block;
}

.nav-item1 {
text-align: center;}


.nav-item2, .nav-item3, .nav-item4 {
    background-color: white;
    padding: 10px;
    margin: 5px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3, h4 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    text-align: center;

}

.portfolio{
    background-color:white;
    padding: 5px;
    margin: auto;

}

/*@media queries*/

@media screen and (min-width: 768px) {



    header ul, .nav-item1{
        display: flex;
        flex: 3;
        flex-wrap: wrap;
    }

    ul li {
        background-color: none;
        padding: 10px;
        
    }

    body {
        max-width: 100%;
    }

    

}

@media screen and (min-width: 1024px) {

    
}