* {
    box-sizing: border-box;
}

body {

    background-color: #f9f8f7;
    color: #332205;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}


ul {
    list-style: none;
    text-align: center;
    font-weight: bold;
}

.name {
text-align: center;

}

.main-nav {
    padding-left: 1em;
    padding-right: 1em;
}

.main-nav li{
    background-color: white;
    padding: 10px;
    margin: 5px;
    display: block;
}

section h3 {
    padding: 10px;
    margin: 25px;
}

h3, h4 {
    text-align: center;
}

img {
    max-width: 70%;
    margin: auto;
    display: block;
}

p {
    text-align: center;
    margin: 30px;
    padding: 15px;
}

section {
    background-color:white;
    margin: 0;
}

footer {
    text-align: center;

}

/*@media queries*/

@media screen and (min-width: 768px) {

    .main-header, .main-nav
    {
        display: flex;
        flex-wrap: wrap;
        
    }

    .main-header img {
        flex: 33.33%;
        padding: 5px;
    }

    .main-nav {
        flex-direction: column;
        align-items: center;
    }
    
    .main-nav li {
        background: none;
        padding: 10px;
    }

   

    
    

}

@media screen and (min-width: 1024px) {

    
}